
*{
    
    box-sizing: border-box;
}

.header {
width: 100%;
height: 178px;
/* background-color: red; */
text-align: center;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 80px;


}

.text2 {
    
    margin-top: 16px;
    width: 760px;
    
    
    
}

.text1 p {
    //styleName: Text/16px/Semibold;
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0px;
text-align: center;

}

.text1 b{
    font-family: Inter;
font-size: 54px;
font-weight: 600;
line-height: 62px;
letter-spacing: -1px;
text-align: center;

}

.text2 p{
    //styleName: Text/20px/Regular;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0px;
text-align: center;

}


.container{
    display: flex;
    width: 100%;
    height: auto;
    /* background-color: chocolate; */
    margin-top: 48px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
}

.container2{
    display: flex;
    width: 100%;
    height: auto;
    /* background-color: chocolate; */
    margin-top: 48px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
}


.content {
    width: 310px;
    height: auto;
    

}

.content b{
    //styleName: Text/18px/Semibold;
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0px;
text-align: left;

}



.content p {
    //styleName: Text/14px/Regular;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
color: #3E3E59;


}




.footer {
    width: 100%;
    height: 312px;
    background-color:#5F6980;
    margin-top: 48px;
    margin-bottom: 108px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.part1{
    width: 25%;
    height: auto;
    list-style: none;
    
    
}



a{
    text-decoration: none;
    color: #535353;
    
    
    
}

ul{
    list-style: none;
    margin-top: 30px;
    color: #535353;
    
}


.footer button{
    margin-top: 20px;
    background-color: blue;
    
    
}

.lorem{
    color: #535353;
}